
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  // font: 100% $font-stack;
  margin: auto;
  // background-color: blueviolet;
}

.frontPage{
  background-color: pink;
}

.frontPage{
  background-color: pink;
}
  
.container{
  max-height: 100%;
}

.input-Prop{
  width: 322px;
}

.home-fixed-container{
  padding: 0px !important;
}

.home-registration-container{
  // background-color: dimgray !important;
  height: 614px;
}

.image-container img{
  width:760px;
}

.image-container{
  position: relative;
}

.button-container{
  position: absolute;
}

.mat-button[_ngcontent-c0], .mat-icon-button[_ngcontent-c0]{
  background-color: #B2AEAE;
  width: 400px;
}